html,
body {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 font:inherit;
 vertical-align:baseline;
}



header.articulo {
/*     margin: auto; */
    background-color: rgb(34, 34, 34);
/*     padding: 40px; */
/*     position: relative; */
/*     width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2.5rem;
}

/* Imagen del header */
img.imgHeader {
    max-width: 62rem;
    height: auto;
}

/* Botón del header */
.help-link {
    position:absolute;
    top:20px;
    right:20px;
    background-color:#333;
    color:#bbb;
    padding:5px 10px;
    border-radius:4px;
    font-size:12px;
    font-weight:bold;
/*     -webkit-backface-visibility: hidden; */
    -webkit-transition:color 0.2s ease-in-out 0s;
    -moz-transition:color 0.2s ease-in-out 0s;
    -o-transition:color 0.2s ease-in-out 0s;
    transition:color 0.2s ease-in-out 0s
}
.help-link:hover {
    color:#fff
}







.flex-container {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    padding: 10px;
    border: 2px solid black;
    column-gap: 30px;
}

.flex-container div {
    background-color: gainsboro;
    width: 100px;
    margin: 10px;
    line-height: 75px;
    border: 2px solid black;
}

/* left sidebar */
.menu {
    flex-basis: 14.375rem;
    align-self: flex-start;
    /* height: 25vh; */
    width: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    /* padding: 0 0.3rem; */
    /* width: 200px; */
    background-color: #fff1f1;
}
  
.menu li a {
    display: block;
    color: #000;
    /* padding: 8px 16px; */
    text-decoration: none;
}
  
/*   Change the link color on hover */
.menu ul a:hover {
    background-color: #555;
    color: white;
}





/* right sidebar */
.rightbar {
    flex-basis: 14.375rem;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}



/* article */
.content {
    /* flex-grow: 2; */
    flex-basis: 62rem;
    align-self: flex-start;
}

.content h2 {
    text-align: center;
}

.content p {
    text-align: justify;
}
